
<ion-content [fullscreen]="true">
  <form (submit)="addPersonalCard()">
    <ion-list>
      <ion-input label="Nombre" type="text" placeholder="Nombre" labelPlacement="floating" [(ngModel)]="name" name="name" required></ion-input>
      <ion-input label="Apellido" type="text" placeholder="Apellidos" labelPlacement="floating" [(ngModel)]="surname" name="surname" required></ion-input>
      <ion-input label="Edad" type="number" placeholder="Edad" labelPlacement="floating" [(ngModel)]="age" name="age" required></ion-input>
    </ion-list>
    <ion-button type="submit">Enviar</ion-button>
  </form>

  <app-personal-card [people]="personalCards"></app-personal-card>
</ion-content>
